extends layout

block content
  div(class="container mt-4")
    div(class="row mb-4")
      if(user)
        div(class="col mb-4")
          a(href="/polls/new", class="btn btn-success btn-sm") Nueva Encuesta
      if(success && success.length > 0)
        div(class="col-12 col-lg-4")
          div(class="alert alert-success alert-dismissible fade show", role="alert")= success
            button(type="button", class="close", data-dismiss="alert", aria-label="Close")
              span(aria-hidden="true") &times;
    
    div(class="row")
      each poll in polls
        -var allvotes = []
        div(class="col-12 col-sm-6 col-lg-4 mb-4")
          div(class="card")
            div(class="card-body")
              if(user == poll.user)
                div(class="row justify-content-end")
                  div(class="col-2")
                    form(action="/polls/"+poll._id+"?_method=DELETE", method="POST", name="eliminar", id="formulario")
                      a(href="#", onclick="enviar_formulario()", class="btn btn-link")
                        <i class="fas fa-trash-alt"></i>
              else
                div(class="row justify-content-end")
                  div(class="col-4")
                    p &nbsp;
              h3(class="card-title")
                strong= poll.title
              each usuario in users
                if(usuario._id.toString() == poll.user)
                  h6(class="card-subtitle mb-2 text-muted") Encuesta por 
                    small= usuario.email
              br
              p(class="card-text")= poll.description
              hr
              each result in results
                if(result.pollId == poll._id.toString())
                  -allvotes.push(result.results)
              div(class="row")
                div(class="col text-center")
                  a(href="#" class="card-link text-muted") #{allvotes.length} votos
                div(class="col text-center")
                  a(href="/polls/"+poll._id, class="card-link") Votar
  script. 
    function enviar_formulario(){
      confirm('Esta seguro de  eliminar esta encuesta?')
      document.getElementById('formulario').submit()
    }