extends layout

block content
  div(class="container mt-4")
    div(class="row justify-content-center")
      div(class="col-5")
        div(class="row")
          div(class="col-auto mr-auto")
           div(class="btn-group" role="group" arial-label="Basic-example")
              a(class="btn btn-link", href="/")
                <i class="fas fa-link">l</i>
              a(class="btn btn-link", href="/") back

          div(class="col-auto")
            div(class="btn-group" role="group" arial-label="Basic-example")
              button(type="button" class="btn btn-link")
                <i class="fas fa-link">l</i>
              button(type="button" class="btn btn-link")
                <i class="fab fa-facebook-square">l</i>
              button(type="button" class="btn btn-link")
                <i class="fab fa-twitter">l</i>

    div(class="row justify-content-center")
      div(class="col-5")
        div(class="card")
          div(class="card-header") 
            strong= currentPoll.title
          div(class="card-body")
            blockquote(class="blockquote mb-0")
              p= currentPoll.description
              footer(class="blockquote-footer") Encuesta hecha por 
                cite(title="Source Title") Fernando Silva

    div(class="row mt-4 justify-content-center")
      div(class="col-5")
        div(class="card")
          div(class="card-body")
            h5(class="card-title") Seleccione una opcion:
            form(action="#")
              div(class="form-check mb-4")
                input(class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1")
                label(class="form-check-label" for="exampleRadios1")= currentPoll.option1
              div(class="form-check mb-4")
                input(class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2")
                label(class="form-check-label" for="exampleRadios2")= currentPoll.option2
              div(class="form-check mb-4")
                input(class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3")
                label(class="form-check-label" for="exampleRadios3")= currentPoll.option3
