extends layout

block content
  div(class="container mt-4")
    div(class="row justify-content-center")
      div(class="col-10 col-md-6 col-lg-5")
        div(class="row")
          div(class="col-auto mr-auto")
           div(class="btn-group" role="group" arial-label="Basic-example")
              a(class="btn btn-link", href="/")
                <i class="fas fa-arrow-left">back</i>

          div(class="col-auto")
            div(class="btn-group" role="group" arial-label="Basic-example")
              a(href='#', id="share-link", class="ml-4")
                <i class="fas fa-link"></i>
              a(href='#', id='share-facebook', data-link= path, class="ml-2")
                <i class="fab fa-facebook-square"></i>
              a(href='https://twitter.com/intent/tweet?url=' + path,  data-link= path, class="ml-2")
                <i class="fab fa-twitter"></i>

    div(class="row justify-content-center")
      div(class="col-10 col-md-6 col-lg-5")
        div(class="card")
          div(class="card-header") 
            h4
              strong= currentPoll.letter()
          div(class="card-body")
            blockquote(class="blockquote mb-0")
              p= currentPoll.letterdescription()
              each user in users
                if(user._id.toString() == currentPoll.user)
                  footer(class="blockquote-footer") Encuesta por 
                    cite(title="Source Title")
                      small= user.email
    
    div(class="row mt-4 mb-4 justify-content-center")
      div(class="col-10 col-md-6 col-lg-5")
        div(class="card")
          div(class="card-body")
            h5(class="card-title") 
              strong Resultados:
            div(class="row mb-4")
              div(class="col")  
                h5 #{currentPoll.option1} 
                  small(class="text-muted")= alloption1 + " votos"
                div(class="progress")
                  div(class="progress-bar bg-success", role="progressbar", style=`width: ${alloption1porcentage}%;`, aria-valuenow=alloption1porcentage, aria-valuemin="0", aria-valuemax="100")= alloption1porcentage
            div(class="row mb-4")
              div(class="col")  
                h5 #{currentPoll.option2} 
                  small(class="text-muted")= alloption2 + " votos"
                div(class="progress")
                  div(class="progress-bar bg-success", role="progressbar", style=`width: ${alloption2porcentage}%;`, aria-valuenow=alloption2porcentage, aria-valuemin="0", aria-valuemax="100")= alloption2porcentage
            if(currentPoll.option3.length > 0)
              div(class="row mb-4")
                div(class="col")  
                  h5 #{currentPoll.option3} 
                    small(class="text-muted")= alloption3 + " votos"
                  div(class="progress")
                    div(class="progress-bar bg-success", role="progressbar", style=`width: $  {alloption3porcentage}%;`, aria-valuenow=alloption3porcentage, aria-valuemin="0",   aria-valuemax="100")= alloption3porcentage
